Server/.vs/
Server/bin/
Server/obj/
SharedLibrary/bin/
SharedLibrary/obj/
Server/packages/
SharedLibrary-Tests/bin/
SharedLibrary-Tests/obj/
Server-Tests/bin/
Server-Tests/obj/
.vs/
Admin/bin/
Admin/obj/
